<div class="talk-container container-block">
<h2 class="container-block-title"><i class="fa fa-trophy"></i> Honors & Awards</h2>

<div class="item">
    <h4 class="title">Outstanding Young Engineers Award</h4>
    <h5 class="venue"><a href="http://www.adobe.com/">Adobe Systems</a></h5>
    <div class="time">2016</div>
</div><!--//item-->

<div class="item">
    <h4 class="title">First Prize, Paper Presentation Competition</h4>
    <h5 class="venue"><a href="http://www.iitr.ac.in/">IIT Roorkee</a></h5>
    <div class="time">2015</div>
</div><!--//item-->

<div class="item">
    <h4 class="title">Finalist, Collegiate Cyber Threat Competition</h4>
    <h5 class="venue"><a href="https://www2.deloitte.com/us/en.html">Deloitte</a></h5>
    <div class="time">2014</div>
</div><!--//item-->

<div class="item">
    <h4 class="title">Third Prize, Paper Presentation Competition<h4>
    <h5 class="venue"><a href="http://www.iitr.ac.in/">IIT Roorkee</a></h5>
    <div class="time">2013</div>
</div><!--//item-->

<div class="item">
    <h4 class="title">KVPY Fellowship</h4>
    <h5 class="venue"><a href="http://www.iisc.ac.in/">Indian Institute of Science</a></h5>
    <div class="time">2011</div>
</div><!--//item-->

</div><!--//talk-container-->