 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BTech in Computer Science and Technology</h4>
    <h5 class="meta"><a href="http://www.iitr.ac.in/">Indian Institute of Technology, Roorkee</a></h5>
    <div class="time">2011 - 2015</div>
</div><!--//item-->
<!-- <div class="item">
    <h4 class="degree">BSc in Applied Mathematics</h4>
    <h5 class="meta">Bristol University</h5>
    <div class="time">2007 - 2011</div>
</div> -->
</div><!--//education-container-->