<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Member of Technical Staff</h3>
                            <div class="time">June 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.adobe.com/">Adobe Systems</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I am working with the <a href="http://www.adobe.com/in/marketing-cloud/web-analytics/marketing-analytics-capabilities.html">Analytics and Data Science team</a> at Adobe Systems, India. I recently won the <a href="https://twitter.com/shagunsodhani/status/811254745994297344">Outstanding Young Engineers Award at Adobe Systems</a>. The award recognises young engineers displaying outstanding technical acumen and innovation. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">June, 2016 - September, 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://databricks.com/">Databricks</a>, <a href="https://www.edx.org/xseries/data-science-engineering-apacher-sparktm">edX</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked as a teaching assistant for the 3-course series focusing on <a href="https://www.edx.org/xseries/data-science-engineering-apache-spark/">Data Science and Engineering with Spark XSeries</a>, created in partnership with professors from <a href="http://www.berkeley.edu/">University of California, Berkeley</a>, <a href="http://www.ucla.edu/">University of California, Los Angeles</a> and <a href="https://databricks.com/">Databricks</a> and offered on the <a href="https://www.edx.org/xseries/data-science-engineering-apacher-sparktm">edX platform</a>. </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">May, 2014 - July 2014</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.adobe.com/">Adobe Systems</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked as a research intern with the <a href="https://research.adobe.com/about-the-labs/bigdata-experience-lab/">BigData Experience Lab</a> and worked in the domain of Instore User Experience Enhancement to improve foot-fall in brick and mortar stores.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->