<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Learning powerful policies and better dynamics models by encouraging consistency</h3>
                            <div class="time">Under review at ICLR 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><b>Shagun Sodhani*</b>,  Anirudh Goyal*, Tristan Deleu, Yoshua Bengio, Jian Tang</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href = "https://arxiv.org/abs/1811.07017">On Training Recurrent Neural Networks for Lifelong Learning</a></h3>
                            <div class="time">2nd Continual learning Workshop, NeurIPS 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><b>Shagun Sodhani*</b>,  Sarath Chandar*, Yoshua Bengio</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href = "https://arxiv.org/abs/1811.10732">Environments for Lifelong Reinforcement Learning</a></h3>
                            <div class="time">2nd Continual learning Workshop, NeurIPS 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Khimya Khetarpal*, <b>Shagun Sodhani*</b>,  Sarath Chandar, Doina Precup</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href ="https://arxiv.org/abs/1811.02959">Compositional Language Understanding with Text-based Relational Reasoning</a></h3>
                            <div class="time">Relational Representation Learning Workshop, NeurIPS 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Koustuv Sinha, <b>Shagun Sodhani*</b>,  William L Hamilton, Joelle Pineau<br>Relational Representation Learning Workshop, NeurIPS 2018</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">On Capacity Expansion in Recurrent Neural Networks for Lifelong Learning</h3>
                            <div class="time">Lifelong Learning Workshop, ICML 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><b>Shagun Sodhani*</b>,  Sarath Chandar*</div>
                    </div><!--//meta-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href ="https://arxiv.org/abs/1810.09007">Spatial Co-location Pattern Mining-A new perspective using Graph Database</a></h3>
                            <div class="time">2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Sanket Vaibhav Mehta*, <b>Shagun Sodhani*</b>, Dhaval Patel</div>
                    </div><!--//meta-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href ="https://arxiv.org/abs/1805.11016">Memory Augmented SelfPlay</a></h3>
                            <div class="time">2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><b>Shagun Sodhani*</b>,  Vardaan Pahuja*</div>
                    </div><!--//meta-->
                </div><!--//item-->

                
            </section><!--//section-->