<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Teaching Experience</h2>
                
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Mining Techniques, HEC, Montreal</h3>
                            <div class="time">September, 2018 - December, 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Teaching Assistant</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Conducted the programming sessions about machine learning and data mining tools.</li>
                            <li>Created assignments and conducted office hours.</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href="https://www.aiforsocialgood.ca/">AI for Social Good Lab</a></h3>
                            <div class="time">May 2018 - June 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Mentor</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Mentored students in machine learning, prototype development, and design skills.</li>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Machine Learning Program for Adobe Employees</a></h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Teaching Assistant</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Worked as a teaching assistant for a Machine Learning course that was offered to employees at Adobe Systems</li>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href="https://databricks.com/">Databricks</a>, <a href="https://www.edx.org/xseries/data-science-engineering-apacher-sparktm">edX</a></h3>
                            <div class="time">June, 2016 - September, 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Teaching Assistant</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <li>Worked as a teaching assistant for the 3-course series focusing on <a href="https://www.edx.org/xseries/data-science-engineering-apache-spark/">Data Science and Engineering with Spark XSeries</a>.</li>
                            <li>The course was created in partnership with professors from <a href="http://www.berkeley.edu/">University of California, Berkeley</a>, <a href="http://www.ucla.edu/">University of California, Los Angeles</a> and <a href="https://databricks.com/">Databricks</a> and was offered on the <a href="https://www.edx.org/xseries/data-science-engineering-apacher-sparktm">edX platform</a>.</li>
                            <li>Helped in creating assignments for the students and assisted them on the Piazza.</li></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->