<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-ticket"></i>Workshop Organization</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href="https://sites.google.com/view/graph-representation-workshop/">Workshop on Deep Learning for Graph</a></h3>
                            <div class="time">May 2019</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.siam.org/Conferences/CM/Main/sdm19">SDM'19</a></div>
                    </div><!--//meta-->
                </div><!--//item-->

            </section><!--//section-->